.header-left{
  float:left;
}

.header-left img{
  height:50px;
}

header{
  height:40px;
  background-color:white;
  text-align: center;
  width:100%;
}

.header-right{
  float:right;
}

.header-right p{
  line-height: normal;
}

.container{
  text-align: center;
}

.main{
  background-color:#E0FFFF;
}

.container img{
  width:50%;
  height:250px;
}

.container h1{
  text-align: center;
}

.midashi{
  color:red;
}

.logo{
  font-size:30px;
}

footer{
  background-color:#E6E6FA;
  width:100%;
}
